<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
    <test thread-count="1" name="Test">
        <classes>
            <class name="com.phptravelers.tests.HomeTests" />
            <class name="com.phptravelers.tests.DemoTests" />
        </classes>
    </test>
</suite>